omegaconf
python-dotenv==1.0.0
wandb
rich
numpy
pandas
scikit-image
opencv-python
matplotlib

--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116 
torchvision==0.14.1+cu116 
torchaudio==0.13.1
pytorch-metric-learning
pytorch-lightning

-f https://data.pyg.org/whl/torch-1.13.0+cu116.html
pyg_lib 
torch_scatter 
torch_sparse 
torch_cluster 
torch_spline_conv
torch_geometric
